.landing-navbar{
  background-color: white;
  color: #152C5B;
  .title{
    font-size: 26px !important;
  }
  .section-title{
    font-size: 1.25rem;
  }
  .regular-text{
    font-size: 1rem;
    color: hsl(0, 0%, 69%);
  }
}