<section>
    <div class="container">
        <div class="row my-4 mx-md-5">
            <div class="col-4 d-flex align-items-center regular-text scalable">
                <p class="mb-0 px-md-3 px-1">{{"details.list.Home" | translate}}</p> /
                <p class="mb-0 px-md-3 px-1 color-main">{{"details.list.RoomDetails" | translate}}</p>
            </div>
            <div class="col-6 col-md-4 d-flex flex-column align-items-center">
                <h3 class="color-main sec-title">{{roomData? roomData.roomNumber : ""}}</h3>
                <p class="regular-text scalable">{{"details.address" | translate}}</p>
            </div>
        </div>
        <div class="row fixed-height mb-5">
            <div class="align-self-stretch h-100"
                [ngClass]="{'col-md-6': (roomData && roomData.images.length > 1), 'col-12': (roomData && roomData.images.length == 1)}">
                <div class="overflow-hidden w-100 h-100 d-flex align-items-center">
                    <img class="w-100 object-fit-cover"
                        [src]="(roomData && roomData.images[0]) ?  roomData.images[0]:dummyImage"
                        [alt]="roomData? roomData.roomNumber : ''">
                </div>
            </div>
            <div *ngIf="(roomData && roomData.images.length > 1)" class="col-md-6 h-100">
                <div class="overflow-hidden w-100 d-flex align-items-center"
                    [ngClass]="{'h-50': (roomData && roomData.images.length > 2), 'h-100': (roomData && roomData.images.length == 2)}">
                    <img class="w-100 object-fit-cover"
                        [src]="(roomData && roomData.images[1]) ?  roomData.images[1]:dummyImage"
                        [alt]="roomData? roomData.roomNumber : ''">

                </div>
                <div *ngIf="(roomData && roomData.images.length > 2)"
                    class="overflow-hidden w-100 h-50 d-flex align-items-center">
                    <img class="w-100 object-fit-cover"
                        [src]="(roomData && roomData.images[2]) ?  roomData.images[2]:dummyImage"
                        [alt]="roomData? roomData.roomNumber : ''">
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-8">
                <p class="mb-1 regular-text scalable">{{"details.paragraphs.p1" | translate}}</p>
                <p class="mb-1 regular-text scalable">{{"details.paragraphs.p2" | translate}}</p>
                <p class="mb-1 regular-text scalable">{{"details.paragraphs.p3" | translate}}</p>
                <div class="row px-1">
                    <ng-container *ngIf="roomData && roomData.facilities.length">
                        <div *ngFor="let item of roomData.facilities" class="col-4 col-md-3 px-1 rounded-1">
                            <i class="d-block p-1 fs-4 fa-regular fa-house-medical"></i>
                            <p class="regular-text m-0">{{item.name}}</p>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center ">
                <div class="w-100 h-100 d-flex flex-column justify-content-around p-5 border rounded-1">
                    <div>
                        <h4 class="color-main third-title">{{'details.BookingCard.StartBooking' | translate}}</h4>
                        <h3 class="price"><span>${{roomData.price}}</span> {{'details.BookingCard.PerNight' |
                            translate}}
                        </h3>
                        <p class="text-danger" *ngIf="roomData.discount">{{'details.BookingCard.Discount' | translate}}
                            {{(100-(((roomData.price -
                            roomData.discount)/roomData.price)*100)).toFixed(5)}}% {{'details.BookingCard.Off' |
                            translate}}</p>
                    </div>

                    <form [formGroup]="bookingForm" (ngSubmit)="startBooking()" class="details-daterange mt-5 mb-2">
                        <h5 class="color-main fourth-title">{{'details.BookingCard.PickDate.title' | translate}}</h5>
                        <mat-form-field appearance="fill" class=" w-100">
                            <mat-label>{{'details.BookingCard.PickDate.label' | translate}}</mat-label>
                            <mat-datepicker-toggle matIconPrefix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-input [rangePicker]="picker">
                                <input matStartDate
                                    placeholder="{{'details.BookingCard.PickDate.StartDate' | translate}}"
                                    formControlName="startDate">
                                <input matEndDate placeholder="{{'details.BookingCard.PickDate.EndDate' | translate}}"
                                    formControlName="endDate">
                            </mat-date-range-input>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                            <mat-error *ngIf="StartDate.hasError('required')||EndDate.hasError('required')"
                                class="text-danger">
                                <span *ngIf="StartDate.hasError('required')&&!EndDate.hasError('required')">Start Date is
                                    <strong>required</strong></span>
                                <span *ngIf="StartDate.hasError('required')&&EndDate.hasError('required')">Start Date & End Date are <strong>required</strong></span>
                                <span *ngIf="!StartDate.hasError('required')&&EndDate.hasError('required')">End Date is <strong>required</strong></span>
                            </mat-error>
                        </mat-form-field>
                        <div class="d-flex justify-content-center">
                            <button [disabled]="bookingForm.touched && bookingForm.invalid"
                                class="primary">{{'details.BookingCard.button' | translate}}</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row border p-3 border-center">
                <div class="col-md-6 my-2 my-md-0">
                    <app-reviews [id]="roomId"></app-reviews>
                </div>
                <div class="col-md-6 my-2 my-md-0">
                    <app-comments [id]="roomId"></app-comments>
                </div>
            </div>
        </div>
    </div>

</section>