<section>
    <div class="container">
        <ng-container *ngIf="isAuth">
            <div *ngFor="let item of viewComments" class="row">
                <app-viewvalue [title]="item.user.userName" [value]="item.comment" [customClass]="'my-1'">
                    <div
                        class="view-img profilePic col-1 d-flex align-items-center justify-content-center rounded-circle overflow-hidden ratio ratio-1x1">
                        <img [src]="item.user.profileImage">
                    </div>
                    <div *ngIf="item.user._id === userId" class="view-prefix">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
                            <mat-icon>more_horiz</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="onEditComment(item._id, item.comment)">
                              <mat-icon>edit_square</mat-icon>
                              <span>Edit</span>
                            </button>
                            <button mat-menu-item (click)="onDeleteComment(item._id)">
                                <mat-icon>delete</mat-icon>
                                <span>Delete</span>
                              </button>
                          </mat-menu>
                    </div>
                </app-viewvalue>
            </div>
            <button *ngIf="head < allComments.length" class="showmore" (click)="showMoreComments()">Show More</button>
        </ng-container>
        <form class="row mt-3" [formGroup]="CommentForm" (ngSubmit)="submit()">
            <div>
                <h4 class="color-main third-title">{{'details.Comments.Title' | translate}}</h4>
                <mat-form-field appearance="outline" class="w-100">
                    <textarea matInput placeholder="{{'details.Comments.Placeholder' | translate}}"
                        formControlName="comment"></textarea>
                    <mat-error *ngIf="comment?.hasError('required')">
                        Comment is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <button type="submit" class="primary px-4" [disabled]="CommentForm.dirty && CommentForm.invalid">{{'details.Comments.Button' | translate}}</button>
            </div>
        </form>
    </div>
</section>