<section>
  <div class="d-flex justify-content-between align-items-center my-3">
    <div>
        <h2 class="h4">Ads Table Details</h2>
        <p>You can check all details</p>
    </div>
    <div>
        <button class="primary" (click)="openAdDialog('Add')">
            Add New Ad
        </button>
    </div>
</div>

<div class="grid d-flex gap-3 mx-5 my-3 justify-content-end">
  <button (click)="isGrid=false" [disabled]="!!disableTableButton">
    <i class="fa-solid fa-table-cells fa-2x"></i>
  </button>
  <button (click)="isGrid=true">
    <i  class="fa-solid fa-grip fa-2x"></i>
  </button>

</div>

<app-shared-card *ngIf="!noData&&isGrid" [ICard]="cards" [totalCount]="AdsList?.totalCount"  [data]="data" [operators]="operators"
(pageIndexChanged)="pageNumber($event)" (pageSizeChanged)="pageSize($event)" (operationData)="runOp($event)">

</app-shared-card>

<app-table
    *ngIf="noData==false"
    [totalCount]="AdsList?.totalCount"
    [columns]="columns"
    [data]="data"
    [operators]="operators"
    (operationData)="runOp($event)"
    (pageIndexChanged)="pageNumber($event)"
    (pageSizeChanged)="pageSize($event)"></app-table>
<app-no-data *ngIf="noData==true"></app-no-data>
</section>
