<section class="auth py-3 px-3 ">

  <div class="container-fluid">
    <div class="row full-height">
      <div class="col-md-6 col-lg-6  col-12   auth-text">
        <h3 class="mx-1 h1 title">Stay<span>cation.</span></h3>
        <div class=" m-3 mx-5 p-5 d-flex justify-content-center flex-column ">
          <div class="text-form">
            <h2>Reset Password</h2>
            <p>If you already have an account register
              <br>You can <a class="px-2 fw-bold" routerLink="auth">Login here !</a>
            </p>
          </div>

          <form action=""  [formGroup]="resetPassword" (ngSubmit)="onReset(resetPassword)">
      <!-- Start Email Field -->

            <div> <label for="">Email</label>
              <mat-form-field class="w-100 ">
               
                <!-- <mat-label for="email">E-mail</mat-label> -->
                <input formControlName="email" id="email" type="email" placeholder="Enter your E-mail" matInput>
              </mat-form-field>
              <div class="my-1">
                <div class="alert alert-danger py-1" 
                  *ngIf="resetPassword.get('email')?.getError('required') && resetPassword.get('email')?.touched">
                  E-Mail is required
                </div>
                <div class="alert alert-danger py-1" 
                  *ngIf="resetPassword.get('email')?.getError('email') && resetPassword.get('email')?.touched">
                  E-Mail is Invalid
                </div>
              </div>
            </div>
                  <!-- End Email Field -->
                        <!-- Start OTP Field -->
        <div>
          <label for="">OTP</label>
       <mat-form-field  class="w-100 ">
        <!-- <mat-label for="OTP">OTP</mat-label> -->
          <input id="otp" type="text" formControlName="seed" matInput placeholder="seed" 
           [ngClass]="{
              'is-invalid': resetPassword.get('seed')?.touched && resetPassword.get('seed')?.invalid,
              'is-valid': resetPassword.get('seed')?.touched && resetPassword.get('seed')?.valid }">
       
       </mat-form-field>
          <div class="my-1 ">
            <div class="alert alert-danger "
              *ngIf="resetPassword.get('seed')?.getError('required') && resetPassword.get('seed')?.touched">
              Please provide the OTP which u received in your email
            </div>
        
          </div>
        </div>
      <!-- End OTP Field -->

      <!-- Start Password Field -->

            <div>
              <label for=""> Password</label>

              <mat-form-field class="w-100">
                <!-- <mat-label for="passowrd">Enter your password</mat-label> -->
                <input matInput id="password" [type]="hide ? 'password' : 'text'" formControlName="password"
                  placeholder="Enter Your Password">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </div>    <div class="my-1">
                <div class="alert alert-danger py-1" 
                  *ngIf="resetPassword.get('password')?.getError('required') && resetPassword.get('password')?.touched">
                  Password is required
                </div>
                <div class="alert alert-danger py-1" 
                  *ngIf="resetPassword.get('password')?.getError('pattern') && resetPassword.get('password')?.touched">
                  Password is Invalid
                </div>
              </div> 
              <!-- End Password Field -->

      <!-- Start Confirm Password Field -->

            <div>
              <label for="">Confirm Password</label>

              <mat-form-field class="w-100 ">
                <!-- <mat-label for="passowrd">confirm password</mat-label> -->
                <input matInput id="password" [type]="hide ? 'password' : 'text'" formControlName="password"
                  placeholder="confirm Password">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            
            </div>  <div class="my-1">
                <div class="alert alert-danger py-1" 
                  *ngIf="resetPassword.get('confirmPassword')?.getError('required') && resetPassword.get('confirmPassword')?.touched">
                  Confirm Password is required.
                </div>
                <div class="alert alert-danger py-1" 
                  *ngIf="resetPassword.get('confirmPassword')?.getError('passwordMismatch') && resetPassword.get('confirmPassword')?.touched">
                  The password and confirmPassword fields do not match.
                </div>
              </div>
                  <!-- End Confirm Password Field -->

            <button class="primary w-100" [disabled]="resetPassword.invalid">Reset</button>


          </form>

        </div>


      </div>
      <div class="img-reset col-md-6 col-lg-6  col-12  d-none p-0 d-md-flex d-lg-flex justify-content-end flex-column p-5">
       <div class="text-white ">
         <h3>Reset Password</h3>
         <p>Homes as unique as you.</p>
       </div>
      </div>
    </div>
  </div>
</section>

