.img-reset{
  background-image: url('../../../../../assets/resetPassword2.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius:15px ;

}
@media screen and (max-width: 768px) {
  .auth{
    .auth-right-side{
      display: none !important;
    }
  }
}
