
  <div class="container p-5  ">
 
<div class="row">
    <div class="col-md-12 m-auto">
        <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let image of data.row.images">
                <ng-template carouselSlide >
                    <img [src]="image" class="" >
                </ng-template>
            </ng-container>
    
    
       
      </owl-carousel-o>
    </div>
    <div class="col-md-12">
        <div class="room-details">
            <p><strong>User Name:</strong> {{ data.row.createdBy.userName }}</p>
            <hr>
            <p><strong>Room Number:</strong> {{ data.row.roomNumber }}</p>
            <hr>
            <p><strong>Discount:</strong> {{ data.row.discount*0.001|percent }}</p>
            <hr>
            <p><strong>Price:</strong> {{ data.row.price|currency }}</p>
            <hr>
            <p><strong>Capacity of Room:</strong> {{ data.row.capacity }}</p>
        </div>
    </div>
</div>

  </div>
  