

.headers {
  &.title2 {
    font-size: 36px !important;
  }
  &.title3 {
    font-size: 24px !important;
  }
  &.title4 {
    font-size: 16px !important;
  }
}

.regular-text {
    font-size: 1rem;
  }