//global variables
$primary-color:#3252DF;
$main-color:#152C5B;
$danger-Color:#E74C3C;
$accent-color:#FF498B;
$green-color:#1ABC9C;
$border-style:2px solid;
$light-color:#B0B0B0;
$main-transtion: 0.5s ease;
