<section>
  <table class="native-table">
    <thead class="tableHeader">
      <tr>
        <th *ngFor="let col of columns" class="fluid-padding">
          {{ col.header }}
        </th>
        <th class="fluid-padding" *ngIf="operators && operators.length">Actions</th>
      </tr>
    </thead>
    <tbody class="tableBody">
      <ng-container *ngIf="data && data.length">
        <tr *ngFor="let row of data">
          <td class="fluid-md-padding" *ngFor="let col of columns">

            <ng-container
              *ngIf="row[col.property] !== null || row[col.property] !== undefined || (isArray(row[col.property]) && row[col.property].length > 0)">
              <span *ngIf="col.isImage">
                <img [src]="row[col.property]" class="imageDim" />
              </span>
              <span *ngIf="col.isDate">{{row[col.property] | date:"fullDate"}}</span>
              <ng-container *ngIf="col.isBoolean">
                <span *ngIf="row[col.property] === true">Yes</span>
                <span *ngIf="row[col.property] === false">No</span>
              </ng-container>
              <span *ngIf="!col.isImage && !col.isDate && !col.isBoolean">{{row[col.property]}}</span>
            </ng-container>
            <span
              *ngIf="row[col.property] === null || row[col.property] === undefined || (isArray(row[col.property]) && row[col.property].length === 0)">
              - </span>
          </td>

          <td class="fluid-md-padding" *ngIf="operators && operators.length>1">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngFor="let operator of operators" (click)="selectedOp(operator)(row)">
                <mat-icon>{{ operator.icon }}</mat-icon>
                <span>{{ operator.title }}</span>
              </button>
            </mat-menu>
          </td>

          <td class="fluid-md-padding" *ngIf="operators && operators.length==1">
            <button *ngFor="let operator of operators" (click)="selectedOp(operator)(row)">
              <mat-icon>{{ operator.icon }}</mat-icon>
              <span>{{ operator.title }}</span>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngFor="let operator of operators" (click)="selectedOp(operator)(row)">
                <mat-icon>{{ operator.icon }}</mat-icon>
                <span>{{ operator.title }}</span>
              </button>
            </mat-menu>
          </td>

        </tr>
      </ng-container>

    </tbody>
  </table>

  <mat-paginator *ngIf="totalCount" #paginator class="demo-paginator" (page)="handlePageEvent($event)"
    [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25]" [pageIndex]="pageIndex"
    aria-label="Select page">
  </mat-paginator>

</section>
