
<section class="footer">
    <div class="p-5 ">
        <div class="row">
            <div class="col-md-3 ">
                <!-- <h3 class="mx-md-5 h1 title">Stay<span>cation.</span></h3> -->
                <h3 class="mx-md-5 h1 title">{{"footer.stayCation"|translate}}</h3>

                <p>{{"footer.kaboom"|translate}}</p>
                    
            </div>

            <div class="col-md-3 ">
                <h3>{{"footer.beginners"|translate}}</h3>      

                <p>{{"footer.newAccouant"|translate}}</p>
                <p>{{"footer.bookingRoom"|translate}}</p>
                <p>{{"footer.usePayment"|translate}}</p>
            </div>

            <div class="col-md-3 ">
                <h3>{{"footer.exploreUs"|translate}}</h3>
                <p>{{"footer.ourCareers"|translate}}</p>
                <p>{{"footer.privacy"|translate}}</p>
                <p>{{"footer.terms"|translate}}</p>
            </div>

            <div class="col-md-3 ">
                <h3>{{"footer.connectUs"|translate}}</h3>
                <p>support@staycation.id</p>
                <p>021 - 2208 - 1996</p>
                <p>Staycation, Kemang, Jakarta</p>
            </div>
        </div>
    </div>
    <p class="text-center">{{"footer.copyRights"|translate}}</p>
</section>
