
<section class="footer">
    <div class="p-5 ">
        <div class="row">
            <div class="col-md-3 ">
                <h3 class="mx-md-5 h1 title">Stay<span>cation.</span></h3>
                <p>We kaboom your beauty holiday instantly and memorable.</p>
                    
            </div>

            <div class="col-md-3 ">
                <h3>For Beginners</h3>
                <p>New Account</p>
                <p>Start Booking a Room</p>
                <p>Use Payments</p>
            </div>

            <div class="col-md-3 ">
                <h3>Explore Us</h3>
                <p>Our Careers</p>
                <p>Privacy</p>
                <p>Terms & Conditions</p>
            </div>

            <div class="col-md-3 ">
                <h3>Connect Us</h3>
                <p>support@staycation.id</p>
                <p>021 - 2208 - 1996</p>
                <p>Staycation, Kemang, Jakarta</p>
            </div>
        </div>
    </div>
    <p class="text-center">Copyright 2019 • All rights reserved • Staycation</p>
</section>
