.auth {
  .auth-right-side {
    background-image: url("../../../../../assets/signup.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1.25rem;

    h3 {
      font-size: 40px;
      font-weight: 600;
      line-height: 60px;
    }
  }
}

@media screen and (max-width: 768px) {
  .auth{
    .auth-right-side{
      display: none !important;
    }
  }
}

.p-6{
  padding: 4.5rem;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.curser-pointer {
  cursor: pointer;
}
.pointer-event-none {
  pointer-events: none;
}
