<section class="container">

  <section class="my-5">
    <div class="row d-md-flex g-md-5">
      <div class="col-md-4 ">
        <div class="bg-dark d-flex justify-content-between rounded">
          <div class=" text-white m-4">
            <span>Facilities</span><br>
            <span>{{facilities}}</span>
           </div>
           <div class="m-4">
           <span><i class="fa-regular fa-window-restore bg-white fa-2x"></i></span>
           </div>
        </div>

      </div>

      <div class="col-md-4">
        <div class="bg-dark d-flex justify-content-between rounded">
          <div class=" text-white m-4">
            <span>Rooms</span><br>
            <span>{{rooms}}</span>
           </div>
           <div class="m-4">
            <span><i class="fa-solid fa-house-user bg-white fa-2x"></i></span>
           </div>
        </div>

      </div>

      <div class="col-md-4 ">
        <div class="bg-dark d-flex justify-content-between rounded">
          <div class=" text-white m-4">
            <span>Ads</span><br>
            <span>{{ads}}</span>
           </div>
           <div class="m-4">
             <span><i class="fa-solid fa-wand-magic-sparkles bg-white fa-2x"></i></span>
           </div>
        </div>

      </div>

    </div>
  </section>

  <section>
    <div class="chart-container">
      <canvas  id="hotelChart" width="1000" height="300" ></canvas>
   </div>
  </section>

</section>
