.auth{
    .full-height{
     height: 95vh;
    }
   .img-forgetPass{
    background-image: url('../../../../../assets/ForgotPassword.png');
    background-repeat: no-repeat;
    background-size: cover;
   }
  
  }
  