.auth{
   .img-forgetPass{
    background-image: url('../../../../../assets/ForgotPassword.png');
    background-repeat: no-repeat;
    background-size: cover;
   }

  }

  @media screen and (max-width: 768px) {
    .auth{
      .auth-right-side{
        display: none !important;
      }
    }
  }
