@import "../Variables";

button {
  border: none;
  border-radius: 4px;
  transition: $main-transtion;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
  &.primary {
    background-color: $primary-color;
    color: #fff;
    padding: 0.7rem 0.5rem;
    border: $border-style transparent;
    &:hover {
      background-color: transparent;
      color: $primary-color;
      border: $border-style $primary-color;
    }
  }
  &.showmore {
    background-color: transparent;
    color: $primary-color;
    padding: 0.7rem 0.5rem;
    width: 100%;
    border: $border-style $primary-color;
    &:hover {
      background-color: $primary-color;
      color: #fff;
    }
  }
}
