@import "../Variables";

.main-color{
  color:$main-color;
}
.light-color{
  color: $light-color
}
.bg-danger-color{
  background-color:$danger-Color;
}
.bg-green{
  background-color:$green-color;
}
.bg-accent{
  background-color: $accent-color;
}
