a{
  text-decoration: none;
}
.auth{
  .full-height{
    height: 95vh;
   }
  .title{
    color: $primary-color;
    span{
      color: $main-color!important;
    }
  }
  p{
    a{
      color: $danger-Color;
    }
   }
}

