a {
  text-decoration: none;
}
.auth {
  .full-height {
    height: 95vh;
  }

  p {
    a {
      color: $danger-Color;
    }
  }
}

:is(.auth, .landing-navbar) {
  .title {
    color: $primary-color;
    span {
      color: $main-color !important;
    }
  }
}

mat-icon {
  color: $primary-color !important;
}
.main-title {
  color: $primary-color;
}
