a {
  text-decoration: none;
}
.auth {
  .full-height {
    height: 95vh;
  }

  p {
    a {
      color: $danger-Color;
    }
  }
}

:is(.auth, .landing-navbar) {
  .title {
    color: $primary-color;
    span {
      color: $main-color !important;
    }
  }
  p {
    a {
      color: $danger-Color;
    }
  }
}

:is(.footer) {
  .title {
    color: $primary-color;
    margin-left: 0 !important;
    span {
      color: $main-color !important;
    }
  }
}
// mat-icon {
//   color: $primary-color !important;
// }
.main-title {
  color: $primary-color;
}

.color-main {
  color: $main-color !important;
  &.sec-title {
    font-size: 36px !important;
  }
  &.third-title{
    font-size: 24px !important;
  }
  &.fourth-title{
    font-size: 16px !important;
  }
}

[dir=rtl]{
  .color-main {
    font-weight: 400;
    &.sec-title {
      font-size: 38px !important;
    }
    &.third-title{
      font-size: 32px !important;
    }
    &.fourth-title{
      font-size: 20px !important;
    }
  }
  .regular-text {
    &.scalable{
      font-size: 1.25rem;
    }
  }
}

.curser-pointer{
  cursor: pointer;
}

.padding-100 {
  padding-top: 100%;
}

.regular-text {
  font-size: 1rem;
  color: hsl(0, 0%, 69%);
}

.radius-15{
  border-radius: 15px;
}
