
<div>
  <div class="d-flex align-items-center justify-content-between">
    <h2 class="h3 m-0">Rooms Table Details</h2>

    <button class="primary" routerLink="add">Add New Room</button>
  </div>

  <p class="text-muted mt-0">You can check all details</p>
</div>

<div class="grid d-flex gap-3 mx-5 my-3 justify-content-end">
  <button (click)="isGrid=false" [disabled]="!!disableTableButton">
    <i class="fa-solid fa-table-cells fa-2x"></i>
  </button>
  <button (click)="isGrid=true">
    <i  class="fa-solid fa-grip fa-2x"></i>
  </button>

</div>

<app-shared-card *ngIf="!noData&&isGrid" [ICard]="cards" [totalCount]="roomList.totalCount"  [data]="data" [operators]="operators"
(pageIndexChanged)="pageNumber($event)" (pageSizeChanged)="pageSize($event)" (operationData)="runOp($event)">

</app-shared-card>
<app-table *ngIf="!noData&&!isGrid" [columns]="columns" [totalCount]="roomList.totalCount"  [data]="data" [operators]="operators"
(pageIndexChanged)="pageNumber($event)" (pageSizeChanged)="pageSize($event)" (operationData)="runOp($event)"></app-table>
<app-no-data *ngIf="noData==true"></app-no-data>
