<!-- <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>This card indeterminates progress bar.</p>

  </mat-card-content>
</mat-card> -->





<mat-card class="example-card p-2">
  <a class="text-end d-block " (click)="onNoClick()"><i class="fa-regular close fa-2x fa-circle-xmark text-danger"></i></a>

  <mat-card-header>

      <mat-card-title><h2 class="main-title">User details</h2></mat-card-title>

  </mat-card-header>
  <mat-card-content>
    <div class="data font">
      <!-- <span class="h3 fs-4">Name :</span><span class="fs-5 ps-2">{{data.row.userName}}</span><br> -->
      <p class="h4">Price : <span class="dark-blue">{{data.totalPrice}} </span></p>
      <p class="h4">status : <span class="dark-blue">{{data.status}} </span></p>
      <p class="h4">Up dated At : <span class="dark-blue">{{data.updatedAt|date}} </span></p>
      <hr>
  </div>
  </mat-card-content>
</mat-card>
