<section>
  <div class="container p-2">
    <div class="title d-flex justify-content-between align-items-center mx-2 my-3">
      <h2 class="fw-bold main-title">Booking Details</h2>
      <div class="close" (click)="onNoClick()" style="cursor: pointer;"><i
          class="fa-regular fa-circle-xmark fs-3 text-danger"></i></div>
    </div>
    <div class="row align-items-center justify-content-around m-3">
      <div class="col-md-12 text-start">
        <h3>{{ data.room }}</h3>
        <app-viewvalue [title]="'User'" [icon]="'fa-light fa-user-group'" [value]="data.user"></app-viewvalue>
        <app-viewvalue [title]="'Price'" [icon]="'fa-light fa-money-bill'" [value]="data.totalPrice"
          [pipe]="'currency'"></app-viewvalue>
        <app-viewvalue [title]="'Status'" [icon]="'fa-light fa-flag'" [value]="data.status"
          [pipe]="'titlecase'"></app-viewvalue>
      </div>
    </div>
  </div>
</section>