<section class="explore">
  <div class="container">
    <div class="exploreTitle ">
      <h1 class="text-center py-5 main-color" >Explore ALL Rooms </h1>
    </div>
    <div class="links d-flex ">
      <a class="me-2 text-muted" routerLink="home">Home /</a>
      <a class="me-2 text-muted">Explore</a>
    </div>
    <div class="explore">
      <h1 class="h4 mt-1 main-color">All Rooms</h1>
      <div class="row py-3">
        <div class="col-md-3 my-2" *ngFor="let item of data">
          <div class="exploreBox">
            <div class=" myCard position-relative ">
              <img matCardImage [src]="item.image" class="img-fluid w-100 "
                style=" border-radius: 30px; ">
              <div class="position-absolute top-0 end-0" >
                <p class="  text-white px-4  py-2 bg-accent" style=" border-radius:0px 15px 0px 15px">
                  {{item.price|currencyint}}
                  per
                  night</p>
              </div>
              <div class="position-absolute text-white " style="bottom: 3px; left: 20px;">
                <p class="m-0">{{item.facilities?.name}}</p>
                <p class=""></p>
              </div>

            </div>

          </div>
        </div>
      </div>


    </div>
  </div>
  <div class=" d-flex justify-content-center">
    <mat-paginator [length]="roomsList?.totalCount" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="handlePageEvent($event)" aria-label="Select page">
    </mat-paginator>
  </div>
</section>


