<section class="explore">
  <div class="container">
    <div class="exploreTitle ">
      <h1 class="text-center py-5 main-color">Explore ALL Rooms </h1>
    </div>
    <div class="links d-flex ">
      <a class="me-2 text-muted" routerLink="home">Home /</a>
      <a class="me-2 text-muted">Explore</a>
    </div>
    <div class="explore">
      <h1 class="h4 mt-1 main-color">All Rooms</h1>
      <div class="row py-3">
        <div class="col-md-3 my-2" *ngFor="let item of data">
          <div class="exploreBox">
            <div class="myCard position-relative">
              <div class="card-wrapper position-relative">
                <img matCardImage [src]="item.image" class="img-fluid w-100 radius-15">
                <div class="position-absolute top-0 end-0">
                  <p class="text-white px-4 py-2 bg-accent" style="border-radius:0px 15px 0px 15px">
                    {{item.price|currencyint}}
                    per
                    night
                  </p>
                </div>
                <div class="position-absolute text-white" style="bottom: 3px; left: 20px;">
                  <p class="m-0">{{item.facilities?.name}}</p>
                  <p class=""></p>
                </div>
              </div>
              <div
                class="layer position-absolute radius-15 w-100 h-100 top-0 start-0 d-flex gap-2 justify-content-center align-items-center">
                <a (click)="checkIslogged(item._id)" class="bg-transparent curser-pointer">
                  <i class="fa-solid fa-heart fa-2x text-white"></i>
                </a>
                <a (click)="view(item._id)" class="bg-transparent curser-pointer">
                  <i class="fa-solid fa-eye fa-2x text-white"></i>
                </a>
              </div>


            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div *ngIf="roomsList.rooms.length" class=" d-flex justify-content-center">
    <mat-paginator class="bg-transparent " [length]="roomsList.totalCount" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions" (page)="handlePageEvent($event)" aria-label="Select page">
    </mat-paginator>
  </div>
</section>