<section class="landing-navbar shadow-sm " [class.dark-mode]="_ThemeService.isDarkMode | async">
    <div class="p-3">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-5">
                <h3 class="mx-md-5 h1 title">Stay<span>cation.</span></h3>
            </div>
            <div class="col-md-7 d-flex align-items-center justify-content-around gap-1">
                <div class="d-flex align-items-center justify-content-between">
                    <ng-container *ngFor="let item of menu">
                        <a *ngIf="item.isActive" [routerLink]="item.link" class="nav-link"
                            routerLinkActive="active-route">{{ "layout.navbar.links." + item.text | translate}}</a>
                    </ng-container>
                    <ng-container *ngIf="!isLoggedIn">
                        <a [routerLink]="['/auth', 'register']" class="nav-link nav-button"><button
                                class="primary">{{"layout.navbar.buttons.Register" | translate}}</button></a>
                        <a [routerLink]="['/auth']" class="nav-link nav-button"><button
                                class="primary">{{"layout.navbar.buttons.Login" | translate}}</button></a>
                    </ng-container>
                    <ng-container *ngIf="isLoggedIn">
                        <app-navbar-dropdown></app-navbar-dropdown>
                    </ng-container>
                    <div class="language">
                        <!-- <select #mylang class="form-select" (change)="onChangeLang(mylang.value)">

                        <option value="en">En</option>
                        <option value="ar">Ar</option>

                      </select> -->

                        <select #mylang class="form-select me-5" (change)="onChangeLang(mylang.value)">

                            <option *ngFor="let lang of languages" [value]="lang.value">{{lang.name}}</option>
                        </select>
                    </div>
                    <app-theme></app-theme>
                </div>
            </div>
        </div>
    </div>
</section>