<section class="auth py-3 px-3 ">

  <div class="container-fluid">
    <div class="row full-height">
      <div class="col-6  auth-text">
        <h3 class="mx-4 h1 title">Stay<span>cation.</span></h3>
        <div class="text-form m-5 p-5 d-flex justify-content-center flex-column bg-info">
          <div>
            <h2>Sign in</h2>
            <p>If you don’t have an account register
              <br>You can <a routerLink="register">Register here !</a>
            </p>
          </div>

        </div>

      </div>
      <div class="col-6 p-0 img-login d-flex justify-content-end flex-column p-5">
       <div class="text-white ">
         <h3>Sign in to Roamhome</h3>
         <p>Homes as unique as you.</p>
       </div>
      </div>
    </div>
  </div>
</section>

