.section1{
h1{
font-size: 3.2rem!important;
}


}

.img-home-border{
  // border: 2px solid #E5E5E5;
   background-color: red;
  margin-top: 10px;

position: relative;
}
.img-home{
  position: absolute;
  top: -33px;
}
