<section class="my-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ">
        <div>
          <h1 class="main-color">{{"home.ForgetBusyWork"|translate}}<br>
            {{"home.StartNextVacation"|translate}}
          </h1>
          <p class="light-color"> {{"home.EnjoyYourHolidayWithFamily"|translate}}<br>
            {{"home.HappyMemorable"|translate}}
          </p>
        </div>

        <div>
         <h5></h5>
        </div>

      </div>
    </div>

  </div>
</section>

