<section>
  <div class="container">
    <div class="title d-flex justify-content-between d-flex mx-2 my-3">
      <h2 class="fw-bold"  *ngIf="!facilityId"> Add Facilities</h2>
      <h2 class="fw-bold" *ngIf="facilityId&&data.mode=='Edit'">Edit Facilities</h2>
      <h2 class="fw-bold" *ngIf="facilityId&&data.mode=='View'">View Facilities</h2>
      <div class="close" (click)="onNoClick()"><i class="fa-regular fa-circle-xmark text-danger"></i></div>
    </div>


    <div class="my-5 mx-2" >

        <input placeholder="Category Name" class="form-control" [(ngModel)]="facilityName" [disabled]="isViewMode">
    </div>

    <div   class="text-end m-3">
      <button class="primary px-3" [ngStyle]="{'opacity': isViewMode ? '0.7' : '1'}"  [mat-dialog-close]="facilityName" [disabled]="isViewMode" >Save</button>
    </div>
  </div>


</section>
