<section>
  <div class="container">
    <div class="title d-flex justify-content-between align-items-center mx-2 my-3">
      <h2 class="fw-bold main-title">Change Password</h2>
      <div class="close" (click)="onNoClick()" style="cursor: pointer;"><i
          class="fa-regular fa-circle-xmark fs-4 text-danger"></i></div>
    </div>

    <form [formGroup]="formData">
      <div class="row">
        <mat-form-field class="w-100">
          <mat-label>Old password</mat-label>
          <input formControlName="oldPassword" matInput [type]="hideOld ? 'password' : 'text'"
            placeholder="Enter your Old Password" />
          <button type="button" mat-icon-button matSuffix (click)="hideOld = !hideOld" type="button"
            [attr.aria-label]="'Hide Old password'" [attr.aria-pressed]="hideOld">
            <mat-icon>{{
              hideOld ? "visibility_off" : "visibility"
              }}</mat-icon>
          </button>
          <mat-hint *ngIf="
              formData.get('oldPassword')?.errors &&
              formData.get('oldPassword')?.touched
            " class="hint-text">
            <ng-container *ngIf="
                formData.get('oldPassword')?.getError('required')
              ">
              Old Password is Requierd
            </ng-container>
            <ng-container *ngIf="
                formData.get('oldPassword')?.getError('pattern')
              ">
              Invalid Password
            </ng-container>
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="w-100">
          <mat-label>New password</mat-label>
          <input formControlName="newPassword" matInput [type]="hideNew ? 'password' : 'text'"
            placeholder="Enter your New Password" />
          <button type="button" mat-icon-button matSuffix (click)="hideNew = !hideNew" type="button"
            [attr.aria-label]="'Hide New password'" [attr.aria-pressed]="hideNew">
            <mat-icon>{{
              hideNew ? "visibility_off" : "visibility"
              }}</mat-icon>
          </button>
          <mat-error *ngIf="
              formData.get('newPassword')?.errors &&
              formData.get('newPassword')?.touched
            " class="hint-text">
            <ng-container *ngIf="
                formData.get('newPassword')?.getError('required')
              ">
              New Password is Requierd
            </ng-container>
            <ng-container *ngIf="
                formData.get('newPassword')?.getError('pattern')
              ">
              Invalid Password
            </ng-container>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="w-100">
          <mat-label>Confirm new password</mat-label>
          <input formControlName="confirmPassword" matInput [type]="hideConfirm ? 'password' : 'text'"
            placeholder="Confirm New Password" />
          <button type="button" mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm" type="button">
            <mat-icon>{{
              hideConfirm ? "visibility_off" : "visibility"
              }}</mat-icon>
          </button>
          <mat-error *ngIf="
                  formData.get('confirmPassword')?.errors &&
                  formData.get('confirmPassword')?.touched
                " class="hint-text">
            <ng-container *ngIf="
                    formData
                      .get('confirmPassword')
                      ?.getError('required')
                  ">
              Confirm password is requierd
            </ng-container>
            <ng-container *ngIf="
                    formData.get('confirmPassword')?.value !==
                      formData.get('newPassword')?.value
                  ">
              Password and confirm password must match.
            </ng-container>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="text-end m-3">
        <button class="primary px-3" [mat-dialog-close]="formData.value" type="button"
          [disabled]="formData.invalid">Save</button>
      </div>
    </form>

  </div>
</section>